body {
  margin: 0;
  font-family: sans-serif, Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #fa5eff 0%, #04c8de 100%);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
